/* Global CSS */
* {
    background-color: rgb(180, 184, 184);
    font-family: 'Jost', sans-serif;
}

main {
    margin: 0 10%;
    padding: 3% 5%;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: row-reverse;
}

.nav-item {
    display: inline; 
    margin: auto 25px;
    font-size: 130%;
}

.nav-item a {
    text-decoration: none;
    color: black
}

.nav-item a:hover {
    color: rgb(71, 73, 73);
}

/* Footer */
footer {
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

/* Index CSS */
.bio-text {
    font-size: 150%;
    margin: 0 10% 10% 10%;
}

.bio-image {
    float: left;
    margin: 1% 5% 2% 5%;
}

.hobby-list {
    margin: 12% 0 0 7%;
}